version: '3.9'

x-common-settings: &common-settings
  build: .
  volumes:
    - .:/frontend:cached
    - nuxt-node-modules:/frontend/node_modules:delegated
  tty: true

services:
  dev_nuxt:
    container_name: dev_nuxt
    <<: *common-settings
    ports:
      - '3000:3000'
    command: >
      sh -c `
      npm install &&
      npm run dev
      `
  prod_nuxt:
    container_name: prod_nuxt
    <<: *common-settings
    ports:
      - '3001:3001'
    environment:
      - PORT=3001
    command: >
      sh -c `
      npm install &&
      npm run build &&
      node ./.output/server/index.mjs
      `
  vitest:
    container_name: vitest
    <<: *common-settings
    command: npm run test --exit

volumes:
  nuxt-node-modules:
